In [1]:
import pandas as pd 
import great_expectations as ge

In [4]:
df = ge.read_csv('/home/ofral/Bureau/pro_4/data2.csv', sep = ";") #NROWS nombre de lignes a afficher
df.replace(";", ",")
df.to_csv("data2.csv")

In [5]:
df = pd.read_csv("data2.csv")
df

,Unnamed: 0,id_cas,cas_numEtude,id_temoignage,tem_new,tem_chrono,obs_chrono,tem_nom_dossier,tem_title_nickname,tem_title_type,...,obs_deg_parcouru,obs_nb_PAN,obs_nb_PAN_lib,obs_formation,obs_formation_type,obs_caracteristiques,obs_continuite,obs_continuite_type,obs_PAN_calculs,obs_envt_equipements_actifs
0,0,2,1937-01-01656,31,0,NaN,1937.01.01,MARIGOT (LE) (972) --.--.1937,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,Observation en continu,NaN,NaN
1,1,3,1951-06-00002,32,0,NaN,1951.06.01,[AERO MIL] ORANGE (84) 15.06.1951 T1,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,1951-06-00002,33,0,NaN,1951.06.02,[AERO MIL] ORANGE (84) 15.06.1951 T2,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,1951-08-00003,34,0,NaN,1951.08.01,BIARRITZ (64) --.08.1951,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,Observation en continu,NaN,NaN
4,4,5,1952-06-00004,35,0,NaN,1952.06.01,PORT-GENTIL (GA.8) 01.06.1952,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,Observation en continu,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351,5351,4841,1984-03-50656,4163,0,NaN,1984.03.04,FOA (LA) (988) 02.03.1984 T1,NaN,NaN,...,NP,1.0,1,NaN,NaN,NaN,NaN,Observation en continu,NaN,NP
5352,5352,4841,1984-03-50656,4164,0,NaN,1984.03.05,FOA (LA) (988) 02.03.1984 T2,NaN,NaN,...,NP,1.0,1,NaN,NaN,NaN,NaN,Observation en continu,NaN,NP
5353,5353,4842,1984-03-50657,4165,0,NaN,1984.03.06,FOA (LA) (988) --.03.1984 T1,NaN,NaN,...,NP,NaN,1 (vu � trois reprises),NaN,NaN,NaN,NaN,Observation en continu,NaN,NP
5354,5354,4842,1984-03-50657,4166,0,NaN,1984.03.07,FOA (LA) (988) --.03.1984 Ti2,NaN,NaN,...,NP,NaN,NP,NaN,NaN,NaN,NaN,Non pr�cis�,NaN,NP
5355,5355,4851,2018-12-50667,9580,0,2018.12.01,NaN,MARTIGUES (13) 02.12.2018,NaN,NaN,...,STATIQUE puis Oblique et prise d'altitude pour...,2.0,2 Objets bien distincts l'un des deux �tait �l...,NaN,NaN,NaN,A la d�couverte du ph�nom�ne je conduisais,Observation discontinue,NaN,Dans un premier temps au volant donc phare pas...